/*******************************************************************************
 * Jekyll-injected config (overridden in main.scss via @use ... with ()).
 ******************************************************************************/

$max-content-width: 930px !default;
