---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@use "config" with ($max-content-width: {{ site.max_width }});
@use "variables" as *;
@use "themes";
@use "layout";
@use "base";
@use "distill";
@use "cv";
@use "tabs";
@use "typograms";
@use "font-awesome/fontawesome";
@use "font-awesome/brands";
@use "font-awesome/solid";
@use "font-awesome/regular";
@use "tabler-icons/tabler-icons-filled.scss" with ($ti-font-path: "../fonts");
@use "tabler-icons/tabler-icons-outline.scss" with ($ti-font-path: "../fonts");
@use "tabler-icons/tabler-icons.scss" with ($ti-font-path: "../fonts");
